div#jsxc_roster {
   background: url("%webroot%/core/img/noise.png") #383C43;
}

#jsxc_menu>span {
   background-image: url('%appswebroot%/ojsxc/js/jsxc/img/gear_grey.svg');
}

div.jsxc_settings {
   background-image: url('%appswebroot%/ojsxc/js/jsxc/img/gear_grey.svg');
}

div.jsxc_settings:hover,div.jsxc_settings.hover {
   background-image: url('%appswebroot%/ojsxc/js/jsxc/img/gear_white.svg');
}

div.jsxc_transfer {
   background-image: url('%appswebroot%/ojsxc/js/jsxc/img/padlock_open_grey.svg');
}

div.jsxc_transfer:hover {
   background-image: url('%appswebroot%/ojsxc/js/jsxc/img/padlock_open_white.svg');
}

div.jsxc_transfer.jsxc_fin {
   background-image: url('%appswebroot%/ojsxc/js/jsxc/img/padlock_close_grey.svg');
}

div.jsxc_transfer.jsxc_enc {
   background-image: url('%appswebroot%/ojsxc/js/jsxc/img/padlock_close_orange.svg');
}

div.jsxc_transfer.jsxc_enc.jsxc_trust {
   background-image: url('%appswebroot%/ojsxc/js/jsxc/img/padlock_close_green.svg');
}

#jsxc_buddylist .jsxc_chaticon { 
   background-image: url('%appswebroot%/ojsxc/js/jsxc/img/speech_balloon_white.svg');
}
#jsxc_buddylist .jsxc_videoicon { 
   background-image: url('%appswebroot%/ojsxc/js/jsxc/img/camera_icon_white.svg');
}

div.jsxc_window .jsxc_emoticons:after {
   background-image: url('%appswebroot%/ojsxc/js/jsxc/img/smiley.png');
}

div.jsxc_video {
   background-image: url('%appswebroot%/ojsxc/js/jsxc/img/camera_icon_grey.svg');
}

div.jsxc_video:not(.jsxc_disabled):hover, #jsxc_buddylist .jsxc_options .jsxc_video {
    background-image: url('%appswebroot%/ojsxc/js/jsxc/img/camera_icon_white.svg');
}

.jsxc_success {
   background-image: url('%appswebroot%/ojsxc/img/pass-icon.png');
}

.jsxc_fail {
   background-image: url('%appswebroot%/ojsxc/img/fail-icon.png');
}