div#jsxc_roster {
	top: 45px;
	background: url("%webroot%/core/img/noise.png") #383C43;
}

ul#jsxc_buddylist.jsxc_hideOffline .jsxc_offline {
	display: none;
}

#jsxc_menu>span {
	background-image: url('%appswebroot%/ojsxc/js/jsxc/img/gear_grey.svg');
}

div.jsxc_settings {
	background-image: url('%appswebroot%/ojsxc/js/jsxc/img/gear_grey.svg');
}

div.jsxc_settings:hover,div.jsxc_settings.hover {
	background-image: url('%appswebroot%/ojsxc/js/jsxc/img/gear_white.svg');
}

div.jsxc_transfer {
	background-image: url('%appswebroot%/ojsxc/js/jsxc/img/padlock_open_grey.svg');
}

div.jsxc_transfer.jsxc_fin {
	background-image: url('%appswebroot%/ojsxc/js/jsxc/img/padlock_close_grey.svg');
}

div.jsxc_transfer.jsxc_enc {
	background-image:
		url('%appswebroot%/ojsxc/js/jsxc/img/padlock_close_orange.svg');
}

div.jsxc_transfer.jsxc_enc.jsxc_trust {
	background-image: url('%appswebroot%/ojsxc/js/jsxc/img/padlock_close_green.svg');
}

div.jsxc_video {
   background-image: url('%appswebroot%/ojsxc/js/jsxc/img/camera_icon_grey.svg');
}

#jsxc {
	padding: 20px;
}

#jsxc h1 {
	margin: 15px 0px 5px 0px;
	font-size: 1.5em;
}

#jsxc a {
	color: blue;
	text-decoration: underline;
}

#jsxc a:hover {
	text-decoration: none;
}

#jsxc_alt {
	text-align: right;
	margin: 15px;
	opacity: 0.5;
	font-style: italic;
	padding-top: 5px;
}

#jsxc_alt:hover {
	opacity: 0.8;
}

.jsxc_success,.jsxc_fail {
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 3px;
	padding-left: 22px;
	/*    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); */
	background-position: 3px center;
	background-repeat: no-repeat;
	margin: 3px;
	width: -moz-fit-content;
	width: -webkit-fit-content;
}

.jsxc_success {
	background-color: #A1F6BB;
	background-image: url('%appswebroot%/ojsxc/img/pass-icon.png');
	color: #003300;
	border-color: #003300;
}

.jsxc_fail {
	background-color: #FF9999;
	background-image: url('%appswebroot%/ojsxc/img/fail-icon.png');
	color: #800000;
	border-color: #800000;
}

.jsxc_log {
	width: 500px;
}