/nbproject/private/
.buildpath
.classpath
WebContent/
node_modules/
*.zip
*.zip.sig
.settings/
archives/
/css/

composer.phar
/vendor/
.phpstorm_helpers
coverage

# vim
.phpstorm_helpers
.phpcomplete_extended
