<phpunit bootstrap="../../lib/base.php">
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">lib</directory>
            <exclude>
                <directory suffix=".php">lib/db</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>